[submodule "components/windows-lead"]
	path = components/windows-lead
	url = https://github.com/AsaZhou923/dual-agent-windows-lead.git
[submodule "components/mac-runner"]
	path = components/mac-runner
	url = https://github.com/AsaZhou923/dual-agent-mac-runner.git
